<template>
  <BlogCreateEdit
    :blogs="blogs"
    :errors="errors"
    @insert="InsertItem"
    :isInsert="true"
  >
    <h5>New Blog</h5>
  </BlogCreateEdit>
</template>

<script>
import BlogCreateEdit from "../../components/blog/BlogCreateEdit.vue";
import { validateBlog } from "../../validate.js";
import axiosClient from "../../axiosClient";

export default {
  name: "Create",
  components: {
    BlogCreateEdit,
  },
  data() {
    return {
      blogs: {
        title: "",
        des: "",
        detail: "",
        pubblic: "",
        position: [],
        category: "",
        data_pubblic: "",
      },
      errors: [],
    };
  },
  methods: {
    /**
     * call api to insert new blog
     * @returns void
     */
    InsertItem() {
      this.errors = validateBlog(this.blogs);
      if (this.errors.length == 0) {
        axiosClient
          .post("/", this.blogs)
          .then((res) => {
            window.location.href = "/";
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
