<template>
  <BlogSearchForm @searchBlog="SearchBlog" />
  <BlogList :blogs="blogs" />
</template>

<script>
import BlogSearchForm from "../../components/blog/BlogSearchForm.vue";
import BlogList from "../../components/blog/BlogList.vue";
import axios from "axios";
import axiosClient from '../../axiosClient';

export default {
  name: "Search",
  components: {
    BlogList,
    BlogSearchForm,
  },
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.SearchBlog();
  },
  methods: {
    /**
     * search blog by keyword
     * @param searchQuery
     * @returns void
     */
    SearchBlog(searchQuery = '') {
      axiosClient.get(`?q=${searchQuery}`)
        .then((res) => {
          this.blogs = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
