<template>
  <form>
    <div class="col-md-12 p-0 my-2">
      <div class="card mx-2">
        <div class="card-header">
          <slot></slot>
        </div>
        <div class="card-body p-0">
          <div class="mx-3">
            <div class="form-group">
              <label>Tiêu đề:</label>
              <input type="text" v-model="blogs.title" class="form-control" />
              <span v-if="errors.includes('title')" class="danger text-danger"
                >Title has required</span
              >
            </div>
            <div class="form-group">
              <label>Mô tả ngắn:</label>
              <textarea rows="5" v-model="blogs.des" class="form-control"></textarea>
              <span v-if="errors.includes('des')" class="danger text-danger">Des has required</span>
            </div>
            <div class="form-group">
              <label>Chi tiết:</label>
              <textarea rows="8" v-model="blogs.detail" class="form-control"></textarea>
              <span v-if="errors.includes('detail')" class="danger text-danger" >Detail has required</span>
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Vị trí:</label>
              <div class="form-check form-check-inline" v-for="address in getPosition()" :key="address.id">
                <input class="form-check-input" type="checkbox" :value="address.id" v-model="blogs.position"/>
                <label class="form-check-label">{{ address.name }}</label>
              </div>
              <span v-if="errors.includes('position')" class="danger text-danger" >Position has required</span
              >
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Public:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="public" type="radio" id="inlineRadio1" value="true" v-model="blogs.pubblic"/>
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="public" type="radio" id="inlineRadio2" value="false" v-model="blogs.pubblic"/>
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <span v-if="errors.includes('pubblic')" class="danger text-danger">Public has required</span>
            </div>
            <div class="row mt-2">
              <div class="form-group col-md-6">
                <label>Loại:</label>
                <select class="form-select" v-model="blogs.category">
                  <option v-for="cate in getCategory()" :key="cate.id" :value="cate.id">
                    {{ cate.name }}
                  </option>
                </select>
                <span v-if="errors.includes('category')" class="danger text-danger" >Category has required</span
                >
              </div>
              <div class="form-group col-md-6">
                <label>Date Public</label>
                <input class="form-control" type="date" v-model="blogs.data_pubblic"/>
                <span v-if="errors.includes('data_pubblic')" class="danger text-danger" >Date public has required</span>
              </div>
            </div>
            <div class="d-flex justify-content-center my-3">
              <button class="btn btn-success me-2" type="submit" @click.prevent="handleSubmit">
                Submit
              </button>
              <button class="btn btn-primary me-2" type="reset">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import Category from "../../convert/category";
import Position from "../../convert/position";
export default {
  name: "BlogCreateEdit",
  props: {
    blogs: {},
    errors: [],
    isInsert: true, 
  },
  data() {
    return {
      category: new Category(),
      position: new Position(),
      blogData: {
        title: this.isInsert ? '': this.blogs.title,
        des: this.isInsert ? '': this.blogs.des,
        detail: this.isInsert ? '': this.blogs.detail,
        pubblic: this.isInsert ? '': this.blogs.pubblic,
        position: this.isInsert ? '': this.blogs.position,
        data_pubblic: this.isInsert ? '': this.blogs.data_pubblic,
        category: this.isInsert ? '': this.blogs.category,
      }
    };
  },
  methods: {
    /**
     * Get list Category
     * @returns array
     */
    getCategory() {
      return this.category.data;
    },

    /**
     * Get list Position
     * @returns array
     */
    getPosition() {
      return this.position.data;
    },

    handleSubmit() {
      if(this.isInsert){
        this.$emit("insert", this.blogData);
      }else{
        this.$emit("update", this.blogData);
      }
    },
  },
};
</script>
