<template>
  <div class="card mx-2">
    <div v-if="blogs.length == 0">
      <h4>Not Found</h4>
    </div>
    <div class="card-header">
      <h5>List Blog</h5>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Tin</th>
            <th scope="col">Loại</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Ngày public</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" v-for="blog in blogs" :key="blog.id">
            <th class="width-50">{{ blog.id }}</th>
            <td class="text-start">{{ blog.title }}</td>
            <td>{{ getCategory(blog.category) }}</td>
            <td>{{ blog.public == true ? "Yes" : "No" }}</td>
            <td>{{ getPosition(blog.position) }}</td>
            <td>{{ blog.data_pubblic }}</td>
            <td class="width-50">
              <router-link :to="{ name: 'update', params: { id: blog.id } }">
                <button class="btn btn-outline-primary">Edit</button>
              </router-link>
            </td>
            <td class="width-50">
              <button
                class="btn btn-outline-danger"
                @click="deleteBlog(blog.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Category from "../../convert/category";
import Position from "../../convert/position";
import axiosClient from "../../axiosClient.js";

export default {
  name: "BlogList",
  props: {
    blogs: {},
  },
  data() {
    return {
      category: new Category(),
      position: new Position(),
    };
  },
  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      const name = this.category.data.find(data => data.id == id);
      return name ? name.name : "";
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPosition(arrayId) {
      let name = "";
      arrayId.forEach((id, index) => {
        const position = this.position.data.find(place => place.id == id);
        if (position) {
          name += position.name;
          if (index < arrayId.length - 1) {
            name += ", ";
          }
        }
      });
      return name;
    },

    /**
     * delete blog by id
     * @param id
     * @returns void
     */
    async deleteBlog(itemId) {
      await axiosClient
        .delete(`/${itemId}`)
        .then((res) => {
          window.location.href = "/";
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>